/* Alegreya Sans */
/* Alegreya Sans Regular */
@font-face {
  font-family: 'Alegreya Sans';
  src: url('./fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Alegreya Sans Italic */
@font-face {
  font-family: 'Alegreya Sans';
  src: url('./fonts/Alegreya_Sans/AlegreyaSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
///* Alegreya Sans Thin */
//@font-face {
//  font-family: 'Alegreya Sans';
//  src: url('./fonts/Alegreya_Sans/AlegreyaSans-Thin.ttf') format('truetype');
//  font-weight: 100;
//  font-style: normal;
//}
///* Alegreya Sans Thin Italic */
//@font-face {
//  font-family: 'Alegreya Sans';
//  src: url('./fonts/Alegreya_Sans/AlegreyaSans-ThinItalic.ttf') format('truetype');
//  font-weight: 100;
//  font-style: italic;
//}
/* Alegreya Sans Light */
@font-face {
  font-family: 'Alegreya Sans';
  src: url('./fonts/Alegreya_Sans/AlegreyaSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
/* Alegreya Sans Light Italic */
@font-face {
  font-family: 'Alegreya Sans';
  src: url('./fonts/Alegreya_Sans/AlegreyaSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
///* Alegreya Sans Bold */
//@font-face {
//  font-family: 'Alegreya Sans';
//  src: url('./fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf') format('truetype');
//  font-weight: 700;
//  font-style: normal;
//}
///* Alegreya Sans Bold Italic */
//@font-face {
//  font-family: 'Alegreya Sans';
//  src: url('./fonts/Alegreya_Sans/AlegreyaSans-BoldItalic.ttf') format('truetype');
//  font-weight: 700;
//  font-style: italic;
//}

/* EB Garamond */
/* EB Garamond Regular */
@font-face {
  font-family: 'EB Garamond';
  src: url('./fonts/EB_Garamond/EBGaramond-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* EB Garamond Italic */
@font-face {
  font-family: 'EB Garamond';
  src: url('./fonts/EB_Garamond/EBGaramond-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
///* EB Garamond Medium */
//@font-face {
//  font-family: 'EB Garamond';
//  src: url('./fonts/EB_Garamond/EBGaramond-Medium.ttf') format('truetype');
//  font-weight: 500;
//  font-style: normal;
//}
///* EB Garamond Medium Italic */
//@font-face {
//  font-family: 'EB Garamond';
//  src: url('./fonts/EB_Garamond/EBGaramond-MediumItalic.ttf') format('truetype');
//  font-weight: 500;
//  font-style: italic;
//}
/* EB Garamond Extra Bold */
//@font-face {
//  font-family: 'EB Garamond';
//  src: url('./fonts/EB_Garamond/EBGaramond-ExtraBold.ttf') format('truetype');
//  font-weight: 800;
//  font-style: normal;
//}
///* EB Garamond Extra Bold Italic */
//@font-face {
//  font-family: 'EB Garamond';
//  src: url('./fonts/EB_Garamond/EBGaramond-ExtraBoldItalic.ttf') format('truetype');
//  font-weight: 800;
//  font-style: italic;
//}

/* Lobster */
/* Lobster Regular */
@font-face {
  font-family: 'Lobster';
  src: url('./fonts/Lobster/Lobster-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
