$app-sizes: (
        large: 1.2rem,
        medium: 0.6rem,
        small: 0.3rem,
        header-height: 6rem,
        font-size-l: 1.8rem,
        font-size-m: 1.6rem,
        font-size-s: 1.2rem
);
